* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Acme', cursive;
 }
 
 body {
   display: flex;
   align-items: center;
   justify-content: center;
   background: white;
   color: white;
 }
 
 .wrapper {
   margin-top: 50px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   /* background: #D5CCCA; */
   background: white;
 }
 
 .scores {
   color: #48466D;
   background: #D5CCCA;
   border-width: 2px;
   border-style: solid;
   border-color: #48466D;
   font-weight: 400;
   font-size: 25px;
   padding: 15px 20px;
   display: flex;
   justify-content: space-around;
   flex-direction: column;
 }

 .score{
   margin: 0px 0px 10px 0px;
 }
 
 .field {
   background: #75EDEF;
   border-width: 2px;
   border-style: solid;
   border-color: #48466D;
   display: grid;
   grid-template: repeat(20, 1fr) / repeat(20, 1fr);
   grid-gap: 1px;
 }
 
 .food {
   background: #B45C6C;
   border-radius: 50%;
 }
 
 .head {
   background: #3A615F;
   border-radius: 20%;
 }
 
 .tail {
   background: #74AF91;
 }
 
 .cell{
   border: 1px solid #48466D;
 }